---
import BaseLayout from "../layouts/BaseLayout.astro";
import Skills from '../components/Skills.astro';
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="BTS | Rayan MISSOUM"
	description="BTS !"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="BTS SIO !"
				tagline="C'est quoi le BTS SIO ?"
			>
				<img
					width="1553"
					height="873"
					src="/assets/dev.jpg"
					alt="TFC"
				/>
			</Hero>

			<section>
				<h2 class="section-title">BTS SIO c'est quoi ?</h2>
				<div class="content">
					<p>
						Le BTS SIO (Services Informatiques aux Organisations) est un diplôme 
						de l'enseignement supérieur français de niveau bac+2 
						(Brevet de Technicien Supérieur). Il vise à former des professionnels 
						capables de répondre aux besoins informatiques des organisations.
					</p></br>
					<p>Les étudiants suivant ce BTS acquièrent des compétences 
						techniques solides en informatique, en réseaux, en développement logiciel, 
						en gestion de projets, et en maintenance des systèmes. 
						Ils apprennent également à comprendre les besoins des organisations 
						afin de proposer des solutions informatiques adaptées.</p></br>
						<p>Le BTS SIO prépare les étudiants à entrer dans le monde professionnel 
							directement après l'obtention du diplôme ou à poursuivre 
							leurs études en licence professionnelle ou en école d'ingénieurs 
							en informatique.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Option</h2>
				<div class="content">
					<p>1. Option SLAM (Solutions Logicielles et Applications Métiers) : 
						Cette option forme des professionnels capables de concevoir, développer, 
						et maintenir des applications informatiques répondant aux besoins spécifiques 
						des entreprises. Ces applications peuvent être des logiciels métiers, 
						des applications web, des bases de données, etc</p></br>
					<p>2. Option SISR (Solutions d'Infrastructure, Systèmes et Réseaux) : 
						Cette option forme des techniciens spécialisés dans la conception, l'installation, 
						la configuration et la maintenance des infrastructures informatiques 
						(matériels, réseaux, systèmes, etc.). Ils sont chargés de veiller au bon fonctionnement 
						et à la sécurité des systèmes informatiques au sein des entreprises</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"> Mes Objectifs !</h2>
				<div class="content">
					<p>Actuellement en BTS SIO, je me prépare activement pour
						réussir mon examen, aspirant à l'obtenir avec succès.
						Mon objectif à long terme est de devenir développeur web
						full stack. Passionné par la création digitale,
						j'ambitionne de maîtriser tous les aspects du
						développement pour concevoir des expériences en ligne
						captivantes et fonctionnelles, combinant ainsi ma
						formation actuelle avec mes aspirations
						professionnelles.</p>
				</div>
				<!-- <div><a href="https://drive.google.com/file/d/1dS-ntTPSKuW0KcNOPKwd0hCFETPzKrFS/view?usp=drive_link">Télécharger mon CV</a></div> -->
			</section>
		</main>
		<!-- <Skills /> -->
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
