---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Grid from '../components/Grid.astro';
---

<BaseLayout
    title="Veille Technologique | Rayan MISSOUM"
    description="Voici ma veille technologique !"
>
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="Veille Technologique"
                tagline="Ma veille technologique porte sur la data utiliser dans le sport !"
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/data_joueur.jpg"
                    alt="data_joueur"
                />
            </Hero>
            <section>
                <h2 class="section-title">C'est quoi une veille technologique ?</h2>
                <div class="content">
                    <p>
                        La veille technologique, élément de la veille stratégique, 
                        consiste à surveiller les évolutions techniques, 
                        les innovations dans un secteur d’activité donnée.
                         La veille technologique comprend notamment la surveillance, 
                         la collecte, le partage et la diffusion d’information permettant d’anticiper 
                         ou de s’informer sur des changements en matière de recherche, 
                         développement, brevet, lancement de nouveaux produits, matériaux, processus, 
                         concepts, innovation de fabrication, etc…. 
                         Cela a pour but d’évaluer l’impact sur l’environnement et l’organisation.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">C'est quoi la data ?</h2>
                <div class="content">
                    <p>
                        
                    </p>
                    <p>
                        La "data" est un terme abrégé pour "données" en anglais. 
                        Il fait référence à des informations brutes, des faits, des statistiques ou 
                        des éléments collectés ou stockés pour être utilisés comme base de raisonnement, 
                        de calcul ou d'analyse. 
                        Les données peuvent être de différentes natures : 
                        textuelles, numériques, visuelles, sonores, etc.
                    </br>
                        Les données peuvent être qualifiées de "brutes" lorsqu'elles sont non traitées ou 
                        non organisées, et une fois traitées, elles peuvent devenir de l'information, 
                        qui est une interprétation ou une signification extraite des données. 
                        La collecte, le stockage, la gestion, l'analyse et 
                        l'utilisation des données sont des éléments cruciaux pour de nombreux domaines 
                        tels que la science, la technologie, le commerce, la santé, etc.
                    </p></br>
                    <p>
                        En outre, le terme "Big Data" est souvent utilisé pour décrire des ensembles de données massives et 
                        complexes qui nécessitent des méthodes spécifiques de traitement et 
                        d'analyse en raison de leur volume, de leur variété et de leur vitesse de génération.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Dans le sport ?</h2>
                <div class="content">
                    <p>La data dans le domaine du sport, également connue sous le nom d'analyse de données sportives ou 
                        d'analytique sportive, fait référence à l'utilisation de technologies et d'outils pour collecter, 
                        analyser et interpréter les données générées lors de compétitions sportives ou d'entraînements. 
                        Cette pratique est devenue de plus en plus répandue dans de nombreux sports 
                        pour améliorer les performances 
                        des athlètes, optimiser les stratégies d'équipe et offrir une 
                        meilleure expérience aux spectateurs.</p></br>
                        <p>Voici quelques façons dont la data est utilisée dans le domaine du sport :</p></br>
                        <p>1. Analyse des performances des athlètes : 
                            Les capteurs, les dispositifs de suivi et 
                            les caméras sont utilisés pour collecter des données sur les performances physiques des athlètes, 
                            telles que la vitesse, la puissance, l'endurance, la technique, etc. 
                            Ces données aident les entraîneurs à comprendre les forces et les faiblesses des athlètes, 
                            à personnaliser les programmes d'entraînement et à maximiser leurs performances.</p>
                            <img
                            width="500"
                            height="73"
                            src="/assets/capteur_data.jpg"
                            alt="capteur"
                        /></br></br>
                        <p>2. Optimisation des stratégies d'équipe : Les données peuvent être utilisées pour analyser les schémas 
                            de jeu, les tactiques et les performances collectives des équipes. 
                            Les entraîneurs peuvent utiliser ces informations pour ajuster les stratégies 
                            en fonction des forces et des faiblesses de l'équipe adverse, 
                            maximisant ainsi les chances de succès.</br>
                            Prise de décision pendant les matchs : Les équipes utilisent souvent des analyses 
                            en temps réel pendant les matchs pour prendre des décisions tactiques, 
                            telles que les changements de joueurs, basées sur des données en direct sur le terrain.</p>
                            <img
                            width="1000"
                            height="73"
                            src="/assets/psg_data.jpg"
                            alt="psg"
                        /></br></br>
                        <p>3. Amélioration de la gestion des blessures : 
                            Les données peuvent aider à prévenir les blessures en surveillant les charges d'entraînement, 
                            en identifiant les modèles de blessures et 
                            en ajustant les programmes d'entraînement pour réduire les risques pour les athlètes.</p>
                           </br>
                           <p>4. Expérience des spectateurs : Les données sont également utilisées pour améliorer l'expérience des fans 
                            en leur fournissant des statistiques en temps réel, des analyses approfondies, 
                            des visualisations et des éléments interactifs lors des diffusions sportives ou 
                            via des applications dédiées.</p>
                            <img
                            width="1000"
                            height="73"
                            src="/assets/leaguepass_data.jpg"
                            alt="lp"
                        /></br></br>
                        <p>En résumé, la data dans le sport a révolutionné la façon dont les équipes et 
                            les athlètes abordent l'entraînement, la compétition et la compréhension des performances, 
                            en utilisant des données pour prendre des décisions plus éclairées et 
                            maximiser les résultats.</p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Exemple : TFC</h2>
                <div class="content">
                    <p>Le Toulouse Football Club (TFC) avait pris des mesures importantes pour intégrer l'analyse de données 
                        après leur déroute en ligue 1 ils furent relégué en ligue 2 ils ont donc utiliser
                         les outils de data science dans leurs opérations pour améliorer les performances de l'équipe.</p>
                        <img
                            width="1000"
                            height="73"
                            src="/assets/toulouse.jpg"
                            alt="tfc"
                        /></br></br>
                    <p>Le club avait lancé un projet appelé "TFC Data Lab" ou 
                        "TFC LAB" visant à exploiter les données pour mieux comprendre et 
                        optimiser divers aspects du jeu, y compris l'analyse des performances des joueurs, 
                        la stratégie de jeu et la gestion des blessures.
                        </br>
                        Le TFC a travaillé avec des experts en analyse de données sportives pour collecter et 
                        analyser des données provenant de diverses sources telles que des capteurs portés par les joueurs, 
                        des statistiques de matchs, des séances d'entraînement, etc. 
                        L'objectif était d'obtenir des informations précises sur les performances individuelles des joueurs
                        et collectives de l'équipe</p></br>
                    <p>- Analyser les performances individuelles des joueurs : En examinant les données collectées, 
                        le club espérait identifier les forces et les faiblesses de chaque joueur 
                        afin d'adapter les programmes d'entraînement et de maximiser 
                        les performances individuelles.</p></br>
                    <p>- Optimiser les stratégies de jeu : En analysant les modèles de jeu, 
                        les statistiques et les performances des adversaires, 
                        le TFC souhaitait ajuster ses stratégies tactiques pour améliorer 
                        les performances collectives de l'équipe.</p>
                    <p>- Prévenir les blessures : L'analyse des données liées aux séances d'entraînement 
                        et aux performances physiques des joueurs visait à identifier les risques de blessures potentiels 
                        et à ajuster les programmes d'entraînement pour réduire ces risques.</p></br>   
                    <p>Le TFC LAB représentait ainsi une avancée significative dans l'utilisation 
                        de la data dans le football professionnel, illustrant comment les clubs cherchent 
                        à tirer parti des avantages offerts par l'analyse de données pour obtenir 
                        un avantage concurrentiel et améliorer les performances de l'équipe. 
                        Cependant, les détails précis sur les progrès et 
                        les résultats spécifiques de ce projet pourraient avoir évolué depuis 
                        ma dernière mise à jour.</p></br>
                    <p>Resultat et Conclusion : Le projet s'est avéré être un grand succès : 
                        le Toulouse Football Club a remporté la Ligue 2, et par la suite, 
                        a accédé à la Ligue 1 où ils ont performé à un niveau notable. Ce qui est 
                        le plus marquant dans cette histoire, c'est qu'ils ont également remporté
                         la Coupe de France deuxième plus gros trophée en France, 
                        une réussite incroyable par rapport à leur niveau d'avant le TFC LAB. De plus, 
                        en gagnant la coupe de France on accède a la ligue Europa...
                        Leur conquête de la Ligue Europa, le deuxième trophée le plus prestigieux 
                        pour un club de football, est d'une saveur particulière car ils ont 
                        dans leur poule le Liverpool FC, l'une des meilleurs équipes de ces dernières années 
                        et ils les ont battus ce
                        qui a renforcé leur parcours impressionnant.</p></br>
                        <img
                            width="1000"
                            height="73"
                            src="/assets/cdf_data.jpg"
                            alt="cdf"
                        /></br></br>
                        <p>Est-ce que, à l'avenir, toutes les équipes sportives accorderont une importance primordiale
                            à l'utilisation de la data dans leur structure ?
                       </p>
                </div>
            </section>
        </main>
        <section class="section with-background bg-variant">
            <header class="section-header stack gap-2 lg:gap-4">
                <h3>Sources/Outils</h3>
                <p>
                    J'ai pu réaliser mon travail grâce à ces différents outils/sources.
                </p>
            </header>
        
            <div class="gallery">
                <Grid variant="small">
                    {
                        [<a target="_blank" href="https://www.radiofrance.fr/franceinter/podcasts/la-tete-au-carre/big-data-quand-les-donnees-servent-a-predire-9275486">Radio France</a>, <a target="_blank" href="https://fr.wikipedia.org/wiki/Data">Wikipedia (la Data)</a>, <a target="_blank" href="https://chat.openai.com/">ChatGPT</a>, <a target="_blank" href="https://www.youtube.com/watch?v=8ozxOpQQsHI">VAL FOOT (Youtube)</a>, <a target="_blank" href="https://www.bfmtv.com/economie/la-data-dans-le-sport-une-evolution-technologique-inevitable_AV-202310290160.html">Article de press BFMTV</a>, <a target="_blank" href="https://www.morganphilips.com/fr-fra/conseils-et-actus/le-role-predominant-de-la-data-dans-le-sport">Morgan Philips (site)</a>,<a target="_blank" href="https://medium.com/jalgos/data-science-nba-basketball-c41f18a0e52a">Medium.com</a>, <a target="_blank" href="https://datascientest.com/le-big-data-a-la-conquete-du-sport/feed">Flux RSS sur datascientest.com</a>].map((brand) => (
                            <li class="mention-card">
                                <p>{brand}</p>
                            </li>
                        ))
                    }
                </Grid>
            </div>
        </section>
        </main>

        <ContactCTA />
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    img {
        margin-top: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        section {
            display: contents;
            font-size: var(--text-lg);
        }
    }
</style>

