---
import Icon from './Icon.astro';
---
<section class="box">
	<h2>Les compétences aquises</h2>
<section class="skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="arrow-right" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Front-End</h2>
		<p>Le front-end informatique est intéressant : 
			transformer du code en expériences visuelles captivantes 
			et intuitives est pour moi quelque chose de très amusant
			surtout de voir le résultat en direct.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Back-End</h2>
		<p>Le développement back-end est encore plus passionnant 
			construire les fondations invisibles qui alimentent 
			et soutiennent les applications, 
			donnant vie aux fonctionnalités essentielles, 
			est pour moi une source d'accomplissement et de défis stimulants.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="github-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Direction de Projet</h2>
		<p>La direction de projet est en quelque sorte une vocation : 
			orchestrer l'harmonie entre les équipes, 
			planifier avec précision et 
			naviguer dans la complexité pour concrétiser des idées en succès concrets 
			est une source d'accomplissement et de satisfaction pour moi.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Bases de données</h2>
		<p>La programmation de base de données implique l'utilisation de langages comme SQL pour créer, 
			gérer et interagir avec les bases de données. Cela inclut la création de structures de données, 
			la manipulation des informations, la gestion de la sécurité et l'optimisation des performances. 
			Cette programmation est essentielle pour stocker, organiser et récupérer efficacement 
			les données utilisées dans les logiciels, les applications web ou d'autres systèmes informatiques.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="codepen-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Logiciels d'exploitation</h2>
		<p>L'usage des logiciels d'exploitation sont des programmes
			 qui contrôlent et gèrent les ressources d'un ordinateur, 
			 permettant aux utilisateurs d'exécuter des applications et 
			 d'interagir avec l'ordinateur. Ils agissent comme une interface entre 
			 le matériel et les logiciels, facilitant ainsi l'utilisation de l'ordinateur.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Ligne de commande</h2>
		<p>Le shell est une interface en ligne de commande permettant aux utilisateurs d'entrer 
			des commandes textuelles pour effectuer des actions telles que la gestion de fichiers,
			la navigation dans les dossiers et l'exécution de programmes sur un ordinateur.
			Il permet également d'automatiser des tâches et de contrôler les processus en cours d'exécution</p>
	</div>
</section>
</section>
<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
